<div #svgContainer id="svgContainer">
  <svg #svg1 id="svg1" width="0" height="0">
    <path
      #path1 id="path1"
      d="M0 0"
      stroke="#000"
      fill="none"
      stroke-width="12px"></path>
    <path
      #path2 id="path2"
      d="M0 0"
      stroke="#000"
      fill="none"
      stroke-width="12px"></path>
    <path
      #path3 id="path3"
      d="M0 0"
      stroke-width="8px"
      style="stroke:#000; fill:none;"></path>
    <path
      #path4 id="path4"
      d="M0 0"
      stroke-width="12px"
      style="stroke:#000; fill:none;
stroke-width: 12px;"></path>
    <path
      #path5 id="path5"
      d="M0 0"
      stroke-width="10px"
      style="stroke:#000; fill:none;"></path>
    <path
      #path6 id="path6"
      d="M0 0"
      stroke-width="10px"
      style="stroke:#000; fill:none;"></path>
    <path
      #path7 id="path7"
      d="M0 0"
      stroke-width="10px"
      style="stroke:#000; fill:none;"></path>
    <!--<g id="star">-->
      <!--<path-->
        <!--d="M260.638,253L268.414,276.148L293.58,276.148L273.221,290.454L280.997,313.602L260.638,299.296L240.278,313.602L248.055,290.454L227.695,276.148L252.861,276.148L260.638,253Z"-->
        <!--style="fill:rgb(235,235,235);"/>-->
    <!--</g>-->

  </svg>
</div>

<div #container class="visualizerContainer" fxLayout="column">
  <div class="upperTwoThirds" fxFlex="66" fxLayout="row">
    <div class="tdhs-container" fxFlex="25" fxLayout="column">
      <div class="tdh-spacer" fxFlex="20">
        <button (click)="animate()">animate</button>
        <button (click)="animateMachine1()">animate Machine</button>
        <button (click)="addTransaction()">addTransaction</button>
        <select [(ngModel)]="elementToAnimate">
          <option value="rectangle">rectangle</option>
          <option value="circle">circle</option>
          <option value="star">star</option>
          <option value="bitcoin">bitcoin</option>
          <option value="licenseOrder">licenseOrder</option>
          <option value="offer">offer</option>
          <option value="offerrequest">offerrequest</option>
          <option value="license">license</option>
        </select>
        <select [(ngModel)]="pathToAnimate">
          <option value="path1">path1</option>
          <option value="path2">path2</option>
          <option value="path3">path3</option>
          <option value="path4">path4</option>
          <option value="path5">path5</option>
          <option value="path6">path6</option>
          <option value="path7">path7</option>
        </select>
        Reverse: <input type="checkbox" name="animationReversed" [(ngModel)]="animationReversed">
      </div>
      <div class="tdh-container" fxFlex="*"  fxLayout="row" fxLayoutAlign="center center">
        <div #tdh1 id="tdh1" class="tdh">tdh1</div>
      </div>
      <div class="tdh-container" fxFlex="*"  fxLayout="row" fxLayoutAlign="center center">
        <div #tdh2 id="tdh2"  class="tdh">tdh2</div></div>
    </div>
    <div class="tdm-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #tdm id="tdm" class="tdm">tdm</div>
    </div>
    <div class="lc-btc-container" fxFlex="25" fxLayout="column">
      <div class="lc-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
        <div #lc id="lc" class="lc">lc</div>
      </div>
      <div class="btc-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
        <div #btc id="btc"  class="btc">
          <app-blockexplorer #blockexplorer></app-blockexplorer>
        </div>
      </div>
    </div>

  </div>
  <div class="lowerThird" fxFlex="34" fxLayout="row">
    <div class="bottom-spacer" fxFlex="20"></div>
    <div class="machine-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #machine1 id="machine1" class="machine">
        <svg #machine1svg id="machine1svg" class="machine-svg"></svg>
      </div>
    </div>
    <div class="machine-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #machine2 id="machine2" class="machine">machine2</div>
    </div>
    <div class="machine-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #machine3 id="machine3" class="machine">machine3</div>
    </div>
    <div class="bottom-spacer" fxFlex="20"></div>
  </div>
</div>
